Solutions/Unmanaged/ECERAutomation/Workflows/ECER-CalculateWorkExperienceHoursSubtotals-CE-C5910727-66C0-EE11-9079-000D3AF4FD74.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Work_Experience_is_Approved": {
          "metadata": {
            "operationMetadataId": "57d7b83a-f321-454f-9cb8-988ba9404db1"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_workexperienceref",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_Work_Experience_Ref_of_same_Application_NOT_Rejected": {
          "runAfter": {
            "Failsafe_for_missing_Application_Lookup_Reference": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e47b04e-c036-4634-88ca-dff267e00393"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_workexperiencerefs",
              "$filter": "_ecer_applicationid_value eq '@{outputs('Get_full_Work_Experience_record')?['body/_ecer_applicationid_value']}' and statuscode ne 621870005 and statuscode ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_result_work_experience_under_same_application": {
          "foreach": "@outputs('List_Work_Experience_Ref_of_same_Application_NOT_Rejected')?['body/value']",
          "actions": {
            "Switch": {
              "runAfter": {
                "IF_Total_Number_of_Approved_Hours_is_GT_0": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case_-_Approved": {
                  "case": 2,
                  "actions": {
                    "IF_Approved_Hours_is_GREATER_THAN_0": {
                      "actions": {
                        "Calculate_Approved_Hours_Subtotal": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "090f3b4e-e5f5-4c4e-b2d0-d63210dcdeba"
                          },
                          "type": "Compose",
                          "inputs": "@add(variables('Approved Hours'),variables('Approved Subtotal'))"
                        },
                        "Set_variable_-_Approval_Subtotal": {
                          "runAfter": {
                            "Calculate_Approved_Hours_Subtotal": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0bbd4a22-15d5-4880-a1f2-ddcae4506f3d"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Approved Subtotal",
                            "value": "@outputs('Calculate_Approved_Hours_Subtotal')"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "greater": [
                          "@variables('Approved Hours')",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d6d29d6e-4a60-4ede-a15f-3da424987d69"
                      },
                      "type": "If"
                    }
                  }
                },
                "Case_-_DRAFT": {
                  "case": 1,
                  "actions": {
                    "If_Anticipated_Hours_is_GREATER_THAN_ZER0": {
                      "actions": {
                        "Calculate_Anticipated_Hours_Subtotal": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "aa729bb6-3c1f-4fc7-9b42-28abc9a8e1dc"
                          },
                          "type": "Compose",
                          "inputs": "@add(variables('Anticipated Hours'),variables('Anticipated Subtotal'))"
                        },
                        "Set_variable_-_Anticipated_Subtotal": {
                          "runAfter": {
                            "Calculate_Anticipated_Hours_Subtotal": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1b5fd5fe-afff-4f97-ac6a-b23f733907eb"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Anticipated Subtotal",
                            "value": "@outputs('Calculate_Anticipated_Hours_Subtotal')"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "greater": [
                          "@variables('Anticipated Hours')",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4c4b01de-99fb-484f-b134-171622af1009"
                      },
                      "type": "If"
                    }
                  }
                },
                "Case_-_Application_Submitted": {
                  "case": 621870006,
                  "actions": {
                    "IF_Anticipated_Hours_is_Greater_Than_0": {
                      "actions": {
                        "Calculate_Subtotal_of_Anticipated_Hours": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "edbb6c19-7128-4a34-b038-2b2178da0ae0"
                          },
                          "type": "Compose",
                          "inputs": "@add(variables('Anticipated Hours'),variables('Anticipated Subtotal'))"
                        },
                        "Set_variable_-_Anticipated_Subtotal_2": {
                          "runAfter": {
                            "Calculate_Subtotal_of_Anticipated_Hours": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a52b7623-55f7-467e-815c-b7ddebbb3588"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Anticipated Subtotal",
                            "value": "@outputs('Calculate_Subtotal_of_Anticipated_Hours')"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "greater": [
                          "@variables('Anticipated Hours')",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a1c33d22-3943-4aa2-afd9-f3c5d71c0358"
                      },
                      "type": "If"
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "IF_Observed_Hours_is_greater_than_0": {
                    "actions": {
                      "Calculate_Observed_Hours_Subtotal": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4718d79d-67a6-461a-b362-c2e8fabcaf11"
                        },
                        "type": "Compose",
                        "inputs": "@add(variables('Observed Hours'),variables('Observed Subtotal'))"
                      },
                      "Set_variable_-_Observed_Hours_Subtotal": {
                        "runAfter": {
                          "Calculate_Observed_Hours_Subtotal": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c0d0c115-4c53-4d1b-bfd5-2b77e630866e"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Observed Subtotal",
                          "value": "@outputs('Calculate_Observed_Hours_Subtotal')"
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "greater": [
                        "@variables('Observed Hours')",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1029b019-9d3e-47c1-8a04-db025612dd77"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": "@items('Loop_through_result_work_experience_under_same_application')?['statuscode']",
              "metadata": {
                "operationMetadataId": "6e1180df-3e74-47c4-9e43-7c1ea9d1b318"
              },
              "type": "Switch"
            },
            "IF_Total_Number_of_Anticipated_Hours_is_GT_0": {
              "actions": {
                "Set_variable_-_Hours_Anticipated_of_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2cb399c7-3124-4614-8395-efebb3e7734d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Anticipated Hours",
                    "value": "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursanticipated']"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Reset_Hours_Anticipated": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9ac6125d-ab1d-4428-9c50-5e3406a254cc"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Anticipated Hours",
                      "value": 0
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursanticipated']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursanticipated']",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "81075cd8-b471-4d0d-ab05-3626b144054e"
              },
              "type": "If"
            },
            "IF_Total_Number_of_Observed_Hours_is_GT_0": {
              "actions": {
                "Set_variable_-_Hour_Observed_of_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2bd97a22-c8cb-4e76-b505-9afd6c885be2"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Observed Hours",
                    "value": "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursobserved']"
                  }
                }
              },
              "runAfter": {
                "IF_Total_Number_of_Anticipated_Hours_is_GT_0": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Reset_Observed_Hours": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "da37814b-2da3-48b0-9ce0-721d967a8eca"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Observed Hours",
                      "value": 0
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursobserved']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursobserved']",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "2cc42413-ebbe-46d6-b010-e89bcf43a07a"
              },
              "type": "If"
            },
            "IF_Total_Number_of_Approved_Hours_is_GT_0": {
              "actions": {
                "Set_variable_-_Hours_Approved_of_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "42adb73c-4f6a-4ffb-ba29-9612fa93e4fd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Approved Hours",
                    "value": "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursapproved']"
                  }
                }
              },
              "runAfter": {
                "IF_Total_Number_of_Observed_Hours_is_GT_0": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_-_Reset_Approved_Hours": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3b7cb7fb-0120-4e1a-b44a-f917de31ce06"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Approved Hours",
                      "value": 0
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursapproved']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@items('Loop_through_result_work_experience_under_same_application')?['ecer_totalnumberofhoursapproved']",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "9522195c-cf35-4aec-b7c6-115b0f88e392"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_Work_Experience_Ref_of_same_Application_NOT_Rejected": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9cf5e34-33c1-49a5-93c3-b75a9bd394a5"
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_Approved_Subtotal": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0adba29e-bbb4-4eb0-a40d-79412d47cb0e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Approved Subtotal",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Set_total_approved_work_hours": {
          "runAfter": {
            "Loop_through_result_work_experience_under_same_application": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "853cb54d-adb4-4bfe-a3fa-90dc0144c65e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@outputs('Get_full_Work_Experience_record')?['body/_ecer_applicationid_value']",
              "item/ecer_totalanticipatedworkexperiencehours": "@variables('Anticipated Subtotal')",
              "item/ecer_totalapprovedworkexperiencehours": "@variables('Approved Subtotal')",
              "item/ecer_totalobservedworkexperiencehours": "@variables('Observed Subtotal')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_full_Work_Experience_record": {
          "runAfter": {
            "Initialize_variable_-_WE_Hours_Required": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "385c7a1f-5a47-46b3-9f91-75175773f945"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_workexperiencerefs",
              "recordId": "@triggerOutputs()?['body/ecer_workexperiencerefid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Failsafe_for_missing_Application_Lookup_Reference": {
          "actions": {
            "Terminate_-_Missing_Application_Lookup_data": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "229af5ef-217a-4c41-a688-e213c5d5578e"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Get_full_Work_Experience_record": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_ecer_applicationid_value']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "48c94f1e-f44c-45a3-ac99-422522f2f9d7"
          },
          "type": "If"
        },
        "Initialize_variable_-_Approved_Hours": {
          "runAfter": {
            "Initialize_variable_-_Approved_Subtotal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fb37f254-8a00-4cd9-af24-a74b5d408460"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Approved Hours",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Observed_Subtotal": {
          "runAfter": {
            "Initialize_variable_-_Approved_Hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b4dd286-caee-4405-af74-a68c48bfd2e8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Observed Subtotal",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Observed_Hours": {
          "runAfter": {
            "Initialize_variable_-_Observed_Subtotal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f0d7d3bf-842e-4390-8205-7166dfae9c5c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Observed Hours",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Anticipated_Subtotal": {
          "runAfter": {
            "Initialize_variable_-_Observed_Hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a3cfdfa9-51ed-48d1-86f9-606dff50c50e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Anticipated Subtotal",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Anticipated_Hours": {
          "runAfter": {
            "Initialize_variable_-_Anticipated_Subtotal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3f8b54f6-b96d-41cc-bc76-2fce3a6f55a8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Anticipated Hours",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Total_Hours_Received": {
          "runAfter": {
            "Initialize_variable_-_Anticipated_Hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b441a9a2-3e80-4734-9a89-5b94495493ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Total Hours Received",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Get_Parent_Application_record": {
          "runAfter": {
            "Set_total_approved_work_hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8768483e-c6e5-4000-bef8-3a74aba00a29"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@outputs('Get_full_Work_Experience_record')?['body/_ecer_applicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_Approved_Hours_and_Observed_Hours": {
          "runAfter": {
            "Get_Parent_Application_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce03c5f1-73a0-4c4b-871a-f217b2344c23"
          },
          "type": "Compose",
          "inputs": "@add(variables('Observed Subtotal'),variables('Approved Subtotal'))"
        },
        "Set_variable_-_Total_Hours_Received": {
          "runAfter": {
            "Add_Approved_Hours_and_Observed_Hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad570d78-d788-4489-b2db-9ba92249e67c"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Total Hours Received",
            "value": "@outputs('Add_Approved_Hours_and_Observed_Hours')"
          }
        },
        "IF_Type_is_400_Hours": {
          "actions": {
            "Set_Required_Hours_as_400": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "23d708a0-84e6-4b34-a67c-32350dda4794"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "WE Hours Required",
                "value": 400
              }
            }
          },
          "runAfter": {
            "Set_variable_-_Total_Hours_Received": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Required_Hours_as_500": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "42194f81-0bc1-40a8-927a-657f3d2ea032"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "WE Hours Required",
                  "value": 500
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_full_Work_Experience_record')?['body/ecer_type']",
              621870000
            ]
          },
          "metadata": {
            "operationMetadataId": "b5f021c7-560e-435a-b896-7695518f83e9"
          },
          "type": "If"
        },
        "Initialize_variable_-_WE_Hours_Required": {
          "runAfter": {
            "Initialize_variable_-_Total_Hours_Received": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b7a343a-53af-4601-9563-752a17f67b9a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WE Hours Required",
                "type": "float",
                "value": 500
              }
            ]
          }
        },
        "IF_WE_Received_is_FALSE_and_Total_Hours_Received_ge_Hours_Needed": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "73966145-3937-4129-8dbc-420abd498ea9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Parent_Application_record')?['body/ecer_applicationid']",
                  "item/ecer_workexperiencereceived": true,
                  "item/ecer_workexperiencereceiveddate": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Type_is_400_Hours": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "IF_WE_Received_is_TRUE_and_Total_Hours_Received_lt_Hours_Neede": {
                "actions": {
                  "Update_a_row_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9bed7bd7-a816-4188-91c8-9f7a16b8327e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "ecer_applications",
                        "recordId": "@outputs('Get_Parent_Application_record')?['body/ecer_applicationid']",
                        "item/ecer_workexperiencereceived": false,
                        "item/ecer_workexperiencereceiveddate": "@null"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@outputs('Get_Parent_Application_record')?['body/ecer_workexperiencereceived']",
                        "@true"
                      ]
                    },
                    {
                      "less": [
                        "@variables('Total Hours Received')",
                        "@variables('WE Hours Required')"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7e6ff5e9-8e3f-4ecb-82e7-02ab61af7535"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_Parent_Application_record')?['body/ecer_workexperiencereceived']",
                    "@true"
                  ]
                }
              },
              {
                "greaterOrEquals": [
                  "@variables('Total Hours Received')",
                  "@variables('WE Hours Required')"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "40c6a9ed-4da4-411e-bf2a-5a2a1c3b3256"
          },
          "type": "If"
        },
        "IF_WE_Not_Approved_Yet_and_no_more_Observed_hrs_and_Approved_hrs_enough": {
          "actions": {
            "Update_a_row_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "18f046c3-f0c7-40bf-b1b6-1e2ae28098e3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Parent_Application_record')?['body/ecer_applicationid']",
                  "item/ecer_workexperiencereferenceapproved": 621870000
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_WE_Received_is_FALSE_and_Total_Hours_Received_ge_Hours_Needed": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@variables('Observed Subtotal')",
                  0
                ]
              },
              {
                "not": {
                  "equals": [
                    "@outputs('Update_a_row')?['body/ecer_workexperiencereferenceapproved']",
                    621870000
                  ]
                }
              },
              {
                "greaterOrEquals": [
                  "@variables('Approved Subtotal')",
                  "@variables('WE Hours Required')"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0b2f5f47-4340-4b29-8804-47364a6ac939"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}