Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PSPSiteVisitcreateSiteVisitchecklistwhennewre-E468676F-B317-EF11-840A-6045BDF9ED54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4fec322b-3180-48ba-baa3-6fb1ebde86f4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ecer_postsecondaryinstitutesitevisit",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "ecer_type ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_ChecklistTemplate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "65a0e162-104e-49f1-8f25-dc871036ab92"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_pspsitevisitchecklisttemplates",
              "$filter": "statecode eq 0 and ecer_sitevisittype eq @{triggerOutputs()?['body/ecer_type']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_ChecklistTemplate')?['body/value']",
          "actions": {
            "Add_a_Checklist": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "227744d8-2c33-4804-90ba-2a1d5248a173"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_pspsitevisitchecklists",
                  "item/ecer_item": "@items('Apply_to_each')?['ecer_name']",
                  "item/ecer_SiteVisitId@odata.bind": "/ecer_postsecondaryinstitutesitevisits(@{triggerOutputs()?['body/ecer_postsecondaryinstitutesitevisitid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_ChecklistTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff42f685-e6c7-41b1-9083-81b952f4eb11"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}