Solutions/Unmanaged/ECERAutomation/Workflows/ECER-NewPortalInvitationadditionalCharacterReferen-E726D8A3-BC22-EF11-840A-6045BDF9ED54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_New_Character_Reference_is_created": {
          "metadata": {
            "operationMetadataId": "a87b345c-0ad7-4cf8-bd4a-faff25f2ca10"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ecer_characterreference",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Is_Additional": {
          "actions": {},
          "runAfter": {
            "Get_Full_Character_Reference_Record": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate_-_Ignore_if_value_is_NO": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "0612a014-300f-432c-bc1f-d314a35aef7d"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_Full_Character_Reference_Record')?['body/ecer_isadditional']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "9451f5a2-7b03-4f78-9710-79fe3227b028"
          },
          "type": "If"
        },
        "Add_a_new_Portal_Invitation_Record": {
          "runAfter": {
            "IF_Status_Reason_is_NOT_Draft_and_NOT_Application_Submitted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e914b5d7-cae0-4d51-b1ff-8b22f9e36cf9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_portalinvitations",
              "item/ecer_ApplicantId@odata.bind": "contacts(@{outputs('Get_Full_Character_Reference_Record')?['body/_ecer_applicantid_value']})",
              "item/ecer_ApplicationId@odata.bind": "ecer_applications(@{outputs('Get_Full_Character_Reference_Record')?['body/_ecer_applicationid_value']})",
              "item/ecer_CharacterReferenceId@odata.bind": "ecer_characterreferences(@{outputs('Get_Full_Character_Reference_Record')?['body/ecer_characterreferenceid']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Full_Character_Reference_Record": {
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "341fb8e7-833b-43b5-b912-342b1da17796"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_characterreferences",
              "recordId": "@triggerOutputs()?['body/ecer_characterreferenceid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "IF_Status_Reason_is_NOT_Draft_and_NOT_Application_Submitted": {
          "actions": {},
          "runAfter": {
            "IF_Is_Additional": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "No_Invite_will_be_sent_as_Character_Reference_has_already_been_responded": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "deab81af-d3f7-45c3-84e5-c23c4c0306c6"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "or": [
                  {
                    "equals": [
                      "@outputs('Get_Full_Character_Reference_Record')?['body/statuscode']",
                      621870006
                    ]
                  }
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9cd892d0-ba0f-40a1-b87a-68f4b9c0b237"
          },
          "type": "If"
        },
        "Delay": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "77696171-dcf8-4ecd-9c83-ffbc69cba250"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 20,
              "unit": "Second"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}