Solutions/Unmanaged/ECERAutomation/Workflows/ECER-LogMailingAddressonContactModified-9B732D6E-A39A-EE11-BE37-000D3AF4FA73.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "52dbda5d-95fa-4efb-a7ba-7bbe2d6b010c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "address1_line1,address1_line2,address1_line3,address1_city,address1_stateorprovince,address1_country,address1_postalcode"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_full_contact_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8270080a-654d-43c8-bb5c-e9ad1a3d218f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/contactid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_a_Previous_Address_record": {
          "runAfter": {
            "IF_Matches_Previous_Mailing_Address_is_TRUE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3a2e0f9-6835-4f85-b18a-1c40809a0ad8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_previousaddresses",
              "item/ecer_Customerid_contact@odata.bind": "contacts(@{outputs('Get_full_contact_record')?['body/contactid']})",
              "item/ecer_addresstype": 621870000,
              "item/ecer_city": "@outputs('Get_full_contact_record')?['body/address1_city']",
              "item/ecer_country": "@outputs('Get_full_contact_record')?['body/address1_country']",
              "item/ecer_postalcode": "@outputs('Get_full_contact_record')?['body/address1_postalcode']",
              "item/ecer_province": "@outputs('Get_full_contact_record')?['body/address1_stateorprovince']",
              "item/ecer_startdate": "@utcNow()",
              "item/ecer_street1": "@outputs('Get_full_contact_record')?['body/address1_line1']",
              "item/ecer_street2": "@outputs('Get_full_contact_record')?['body/address1_line2']",
              "item/ecer_street3": "@outputs('Get_full_contact_record')?['body/address1_line3']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_Result_Set_if_Any": {
          "foreach": "@outputs('List_all_Previous_Mailing_Address_of_contact_that_has_no_End_Date')?['body/value']",
          "actions": {
            "Set_End_Date": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dbcdd49f-677c-42c9-9c8a-c7e229263ce3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_previousaddresses",
                  "recordId": "@items('Loop_through_Result_Set_if_Any')?['ecer_previousaddressid']",
                  "item/ecer_enddate": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Create_a_Previous_Address_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fbcb9711-f270-447b-a79e-6f2de30dff5c"
          },
          "type": "Foreach"
        },
        "List_all_Previous_Mailing_Address_of_contact_that_has_no_End_Date": {
          "runAfter": {
            "Initialize_variable_-_Matches_Previous_Mailing_Address_-_Default_FALSE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de2be1e4-467e-415a-a192-90064b5d8201"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_previousaddresses",
              "$filter": "_ecer_customerid_value eq '@{outputs('Get_full_contact_record')?['body/contactid']}' and ecer_enddate eq null and ecer_addresstype eq 621870000",
              "$orderby": "ecer_startdate desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Matches_Previous_Mailing_Address_-_Default_FALSE": {
          "runAfter": {
            "Get_full_contact_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1f518f2-d280-4287-bec5-4e56fabc67c6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Matches Previous Mailing Address",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_all_Previous_Mailing_Address_of_contact_that_has_no_End_Date')?['body/value']",
          "actions": {
            "IF_Address_Fields_matches_latest_saved_values": {
              "actions": {
                "Set_variable_-_Matches_Previous_Mailing_Address_-_TRUE": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7bb9a9a0-bed6-4f33-b63a-f7e6615c55db"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Matches Previous Mailing Address",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_street1']",
                      "@outputs('Get_full_contact_record')?['body/address1_line1']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_street2']",
                      "@outputs('Get_full_contact_record')?['body/address1_line2']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_street3']",
                      "@outputs('Get_full_contact_record')?['body/address1_line3']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_city']",
                      "@outputs('Get_full_contact_record')?['body/address1_city']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_province']",
                      "@outputs('Get_full_contact_record')?['body/address1_stateorprovince']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_postalcode']",
                      "@outputs('Get_full_contact_record')?['body/address1_postalcode']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['ecer_country']",
                      "@outputs('Get_full_contact_record')?['body/address1_country']"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "df30cb56-4c78-4fbc-a5e5-ed20e75b30a6"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_all_Previous_Mailing_Address_of_contact_that_has_no_End_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a041dd38-4b97-41eb-8cbc-f47f84b424ea"
          },
          "type": "Foreach"
        },
        "IF_Matches_Previous_Mailing_Address_is_TRUE": {
          "actions": {
            "Terminate_-_No_Actual_Changes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dde4066f-e641-4494-b6f2-f40fc153edac"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('Matches Previous Mailing Address')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "05c8500c-44ae-4b9b-9c8f-dc2c86af3585"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}