Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateCertificateNameonCreate-425AFCD6-BADC-EE11-904C-0022486E0199.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Certificate_is_Created_or_Certificate_Level_Modified": {
          "metadata": {
            "operationMetadataId": "e614e881-fca6-40c3-acd6-ac11b39282ab"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_certificate",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_certificatelevel",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Set_the_Name_field": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "926c15aa-ce9e-45d7-bb1e-f06947655b86"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_certificates",
              "recordId": "@triggerOutputs()?['body/ecer_certificateid']",
              "item/ecer_name": "@{triggerOutputs()?['body/ecer_certificatenumber']} - @{triggerOutputs()?['body/ecer_certificatelevel']} - @{variables('Effect Date String')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Effective_Date_in_Short_Date_format": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "41e8a6b4-e946-4e86-9c5c-a47a84bba108"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Effect Date String",
                "type": "string"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "346eea2b-4613-4148-96a8-37eb22384db7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Effect Date String",
                "value": "@{formatDateTime(triggerOutputs()?['body/ecer_effectivedate'], 'dd/MMM/yyyy')}"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Effective_Date_in_Short_Date_format": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/ecer_effectivedate']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "53a4e724-cdec-44e1-ba22-3d6a340184af"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}