Solutions/Unmanaged/ECERAutomation/Workflows/ECER-RoutingApplicationonBPFStageChange-35647159-20CC-EE11-9078-000D3AF4A207.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "6acbf403-5179-4f1d-8457-68c579b1efd4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_certifications",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "activestageid",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Set_Assessment_Stage_GUID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7fd11765-7c88-41d7-9693-ee63b6b7265f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Assessment Stage After Assessment Review",
                "type": "string",
                "value": "a527edeb-3843-488a-b0b1-673efc1b89f3"
              }
            ]
          }
        },
        "IF_Active_Stage_is_Assessment_Stage": {
          "actions": {
            "Get_Application_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1274cd1e-5bd2-4a00-bdc7-dcb03188731d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@triggerOutputs()?['body/_bpf_ecer_applicationid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "IF_Assessor_contains_data": {
              "actions": {
                "Set_Application_to_Assessor": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "33e1b7b5-d3d2-4b20-8bc7-0cc265a4957c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ecer_applications",
                      "recordId": "@triggerOutputs()?['body/_bpf_ecer_applicationid_value']",
                      "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Application_Record')?['body/_ecer_assessor_value']})",
                      "item/statuscode": 621870003,
                      "item/ecer_statusreasondetail": 621870004
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Application_Record": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_Assessment_Team_by_Name": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cb39507d-68e0-4fad-b1aa-694430d6709f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "teams",
                        "$filter": "name eq 'Assessment Team'",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Loop_through_results_of_Teams": {
                    "foreach": "@outputs('Get_Assessment_Team_by_Name')?['body/value']",
                    "actions": {
                      "Set_Application_to_Assessment_Team": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b2286cec-6878-4a6f-b8bf-450a37181caa"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ecer_applications",
                            "recordId": "@triggerOutputs()?['body/_bpf_ecer_applicationid_value']",
                            "item/ownerid@odata.bind": "teams(@{items('Loop_through_results_of_Teams')?['teamid']})",
                            "item/statuscode": 621870003,
                            "item/ecer_statusreasondetail": 621870004
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Get_Assessment_Team_by_Name": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a6888a0a-d891-4920-ae54-280789d9ebc0"
                    },
                    "type": "Foreach"
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Application_Record')?['body/_ecer_assessor_value']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "2d39a6ad-aa7c-4af2-b369-3b6b8f5665c3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Set_Assessment_Stage_GUID": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_activestageid_value']",
              "@variables('Assessment Stage After Assessment Review')"
            ]
          },
          "metadata": {
            "operationMetadataId": "e0ec149a-f542-4c14-88e4-5bc313ff2b15"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}