Solutions/Unmanaged/ECERAutomation/Workflows/ECER-SetParallelProcessonApplication-0DEC8BF1-1C88-EF11-AC21-6045BDCD6CB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_investigation__is_added_or_modified": {
          "metadata": {
            "operationMetadataId": "8714130c-af61-4e6a-850b-030aa99ccba7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_investigation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_parallelprocess",
              "subscriptionRequest/filterexpression": "ecer_parallelprocess eq 621870000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_OpenApplication_has_value_and_Parallel_Process_True": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7a6ecaf8-d854-4355-ba72-22b9e08f3e02"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/_ecer_openapplication_value']",
                  "@null"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/ecer_parallelprocess']",
                    "@true"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "dfb0c7d2-1abc-464e-8ab9-4039921cdd83"
          },
          "type": "If"
        },
        "Update_Application": {
          "runAfter": {
            "Check_if_OpenApplication_has_value_and_Parallel_Process_True": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a7f1125-5649-4a85-8972-71060db30868"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/_ecer_openapplication_value']",
              "item/ecer_parallelprocess": true,
              "item/ecer_parallelprocessinvestigationid@odata.bind": "\\ecer_investigations(@{triggerOutputs()?['body/ecer_investigationid']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}