Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateApplicationName-27EFB836-CFBB-EE11-9079-000D3AF4F18A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "159153e3-9ad5-4fb8-aaa5-283447e8bd13"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_applicantid,ecer_certificatetype"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Applicant_contains_data": {
          "actions": {
            "Get_Applicant_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c12191f1-fec2-4c5a-a28b-fa0150c23924"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_ecer_applicantid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Application_Name_variable_using_Applicant_Fullname": {
              "runAfter": {
                "Get_Applicant_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4685fec8-8eac-448d-a55b-c4232ebce94f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Application Name",
                "value": "@{triggerOutputs()?['body/ecer_applicationnumber']} - @{outputs('Get_Applicant_Record')?['body/fullname']}"
              }
            },
            "Condition": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "68593424-1780-4544-9b8a-1c00cbad6327"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('Get_Application_Record_for_data')?['body/_ecer_applicantid_value']",
                      "item/ecer_isbcece": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Set_Application_Name_variable_using_Applicant_Fullname": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Applicant_Record')?['body/ecer_isbcece']",
                    "@true"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "dee691f8-08c0-4aa5-840a-91a7cdbd3bc0"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_Application_Record_for_data": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Application_Variable_using_Application_data": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "9df964c2-bbf4-448b-bcb4-ff0c6d91297b"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Application Name",
                  "value": "@{triggerOutputs()?['body/ecer_applicationnumber']} - @{triggerOutputs()?['body/ecer_legalfirstname']} @{triggerOutputs()?['body/ecer_legallastname']}"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_ecer_applicantid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "8ed2100c-afbd-462f-b033-b614dc8a6dc1"
          },
          "type": "If"
        },
        "Get_Application_Record_for_data": {
          "runAfter": {
            "Initialize_Variable_-_Application_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5f6b2de0-8699-4f36-8b67-fcd633693da2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/ecer_applicationid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "IF_Certificate_Type_contains_data": {
          "actions": {
            "Set_Application_Name_with_Certificate_Type": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "eafca69b-fbb9-4671-afcc-937d9cfedb2d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@triggerOutputs()?['body/ecer_applicationid']",
                  "item/ecer_name": "@{variables('Application Name')} - @{outputs('Get_Application_Record_for_data')?['body/ecer_certificatetype']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Applicant_contains_data": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Application_Name": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "35e0675b-43a9-48a6-bec7-781b465ad781"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "ecer_applications",
                    "recordId": "@triggerOutputs()?['body/ecer_applicationid']",
                    "item/ecer_name": "@variables('Application Name')"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_Application_Record_for_data')?['body/ecer_certificatetype']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "debd23f0-71f9-4a95-b408-abd1d9871c42"
          },
          "type": "If"
        },
        "Initialize_Variable_-_Application_Name": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7d7ea16b-cbd9-448b-bc3c-294e5576fe40"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Application Name",
                "type": "string",
                "value": "NA"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}