Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateAcknowledgedDate-CC649AB3-4D71-EF11-A670-7C1E524070BA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "2491157e-20c2-4f85-aa5d-5763ed60195f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_communication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_acknowledged",
              "subscriptionRequest/name": "cc649ab3-4d71-ef11-a670-7c1e524070ba"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "If_Acknowledged_=_Yes": {
          "actions": {
            "If_Date_Acknowledged_does_not_contain_data": {
              "actions": {
                "Update_Status_AND_Set_Date": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e71f3d02-4328-4a5a-8248-c789819cf86a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ecer_communications",
                      "recordId": "@triggerBody()?['ecer_communicationid']",
                      "item/ecer_dateacknowledged": "@utcNow()",
                      "item/statuscode": 621870002
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerBody()?['ecer_dateacknowledged'])",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "10c5ebe5-f6de-4f17-8695-ef74ca522cb3"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Clear_Date_Acknowledged": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "cbf9e5ff-ef8d-4176-821b-f2451242d5dc"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "ecer_communications",
                    "recordId": "@triggerBody()?['ecer_communicationid']",
                    "item/ecer_dateacknowledged": "@null"
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/ecer_acknowledged']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "eac487a9-968b-4c68-824d-faef28f96971"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}