Solutions/Unmanaged/ECERAutomation/Workflows/ECER-SetReconsiderationPeriodEndDate-CE-90DAA501-EE3E-EF11-A316-6045BDF9786D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Document_URL_is_Viewed": {
          "metadata": {
            "operationMetadataId": "af1c5b7c-6f17-4764-8e5e-27e4366fd9b7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bcgov_documenturl",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_documentexternallyviewed"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Application": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d05fe9f9-be84-4d2f-a21a-c2586b4f1ebd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/_ecer_applicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_Reconsideration_Date": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "62ba4019-e46f-44d7-8f8c-492adce218eb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Application')?['body/ecer_applicationid']",
                  "item/ecer_reconsiderationperiodenddate": "@outputs('Compose')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Application": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_Application')?['body/statuscode']",
                  290700003
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Application')?['body/ecer_statusreasondetail']",
                  621870011
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ec1006e3-0916-476a-90c7-23cd838f1438"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "456bbf0c-60ef-46b9-9fe7-6b37e21f71b5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Date String",
                "type": "string",
                "value": "@triggerOutputs()?['body/ecer_documentexternallyviewed']"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14a6a6d4-0cc1-499e-b64d-4bd8deadc8ab"
          },
          "type": "Compose",
          "inputs": "@addDays(variables('Date String'),30)"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}