Solutions/Unmanaged/ECERAutomation/Workflows/ECER-GenerateCommunicationonRequestMoreWorkExperie-D04A9EAE-66D6-EE11-904D-000D3AF4F18A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "IF_ecer_requestwkexpreference_has_changed": {
          "metadata": {
            "operationMetadataId": "a68224e9-aa30-4d1e-b0c2-a1e285e7702b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_requestwkexpreference",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Request_More_Work_Experience_is_TRUE": {
          "actions": {
            "Create_a_communication_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cb15de33-3f48-4213-b182-e4b084676fae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_communications",
                  "item/ecer_initiatedfrom": 621870000,
                  "item/ecer_message": "@variables('Message Content')",
                  "item/ecer_name": "@variables('Subject')",
                  "item/ecer_type": 621870002,
                  "item/ecer_Registrantid_contact@odata.bind": "contacts(@{outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']})",
                  "item/ecer_Applicationid@odata.bind": "ecer_applications(@{outputs('Get_the_whole_record')?['body/ecer_applicationid']})",
                  "item/ecer_datenotified": "@utcNow()",
                  "item/ecer_donotreply": true,
                  "item/ecer_isroot": true,
                  "item/ecer_notifyrecipient": true,
                  "item/ownerid@odata.bind": "teams(@{variables('Assessment Team Value')})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_the_whole_record": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_the_whole_record')?['body/ecer_requestwkexpreference']",
                  "@true"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "6975bf87-d26c-4d8b-96f7-78809c65c798"
          },
          "type": "If"
        },
        "Get_the_whole_record": {
          "runAfter": {
            "Loop_through_Assessment_Team_results_and_set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfa3490d-db42-4144-bcfd-adc1cda9bc91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/ecer_applicationid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "IF_Origin_is_NOT_Portal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "446b4ed0-4721-4063-867d-1db6d2cdda49"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Assessment Team Value",
                "type": "string"
              }
            ]
          }
        },
        "Get_Assessment_Team": {
          "runAfter": {
            "Initialize_variable_-_Message_Content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d7bad5d-1a5c-4a18-b2c3-addb049b2f10"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "$filter": "name eq 'Assessment Team - General'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_Assessment_Team_results_and_set_variable": {
          "foreach": "@outputs('Get_Assessment_Team')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7eb45e4d-e6e0-49e1-a2be-686884b4d7a1"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Assessment Team Value",
                "value": "@items('Loop_through_Assessment_Team_results_and_set_variable')?['teamid']"
              }
            }
          },
          "runAfter": {
            "Get_Assessment_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c90575ae-85db-4685-8def-25e3e847b771"
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_subject": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c87054fd-06dc-4594-b351-c76ae4a1fcce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Subject",
                "type": "string",
                "value": "Action required: New work experience reference"
              }
            ]
          }
        },
        "Initialize_variable_-_Message_Content": {
          "runAfter": {
            "Initialize_variable_-_subject": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b6419bff-d44d-4e3b-9da7-6795f2862ecb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Message Content",
                "type": "string",
                "value": "You must provide a new work experience reference. A person you identified is unable to provide a reference for you.\n\nTo add a new work experience reference, go to the application summary page."
              }
            ]
          }
        },
        "IF_Origin_is_NOT_Portal": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "23d97c68-3e20-4edf-9b19-e7e2fa99664f"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/ecer_origin']",
                621870001
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "6adc20e0-b55b-4c19-94a6-1467add204ba"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}