Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateRegistrantonCertificateforCertifiedLe-E7D1A7C0-5771-EF11-A671-6045BDCD6CB0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "80291b86-741d-4bf5-9d76-fa97f80c708f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_certifiedlevel",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_certificateid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Certificate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b0f2ed22-8249-460c-b80c-99c2a5d667af"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_certificates",
              "recordId": "@triggerOutputs()?['body/_ecer_certificateid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "IF_Registrant_is_NULL_or_ne_Certificate_Registrant": {
          "actions": {
            "Update_Registrant": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8f8c6e19-a15d-4c1e-aeb1-5bc92fd47547"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_certifiedlevels",
                  "recordId": "@triggerOutputs()?['body/ecer_certifiedlevelid']",
                  "item/ecer_RegistrantId@odata.bind": "/contacts(@{outputs('Get_Certificate')?['body/_ecer_registrantid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Certificate": [
              "Succeeded"
            ]
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@empty(triggerOutputs()?['body/_ecer_registrantid_value'])",
                  "@true"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_ecer_registrantid_value']",
                    "@outputs('Get_Certificate')?['body/_ecer_registrantid_value']"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "1b786fb8-4f78-4c78-afd7-e48ddef4e83d"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}