Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PSPInterviewcreatequestions-F2BA4B29-9018-EF11-840B-000D3AF4A207.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "446dd4d7-76cf-45d5-9e5d-a1a5ecf64193"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ecer_postsecondaryinstituteinterview",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "ecer_intervieweetype ne null",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_QuestionTemplate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "46457f5a-6121-424d-b8b8-89940ea1ed32"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_pspinterviewquestiontemplates",
              "$filter": "ecer_intervieweetype eq @{triggerOutputs()?['body/ecer_intervieweetype']} and statecode eq 0"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_QuestionTemplate')?['body/value']",
          "actions": {
            "Add_a_new_Question": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "090b84ca-797d-4ea7-bc7c-8d0c388f4115"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_pspinterviewquestions",
                  "item/ecer_question": "@items('Apply_to_each')?['ecer_question']",
                  "item/ecer_PSPInterview@odata.bind": "/ecer_postsecondaryinstituteinterviews(@{triggerOutputs()?['body/ecer_postsecondaryinstituteinterviewid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_QuestionTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad75fa67-a40f-4911-93cb-d1a54a3f7610"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}