Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateInvestigationCompetencyName-F70F8A88-0370-EF11-A670-000D3A0A4C90.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "39257f65-a008-463c-bd1b-2517dbaa28b6"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_investigationcompetency",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_competency"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "54c7cfff-23a8-48c1-ba9e-c0cf5a9855c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Investigation Competency Name",
                "type": "string",
                "value": "NA"
              }
            ]
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdf0d645-be43-4d24-b1d9-e85013adc6f8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_investigationcompetencies",
              "recordId": "@triggerOutputs()?['body/ecer_investigationcompetencyid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "84764227-dfa4-47f0-be90-6a6f2ea88970"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Investigation Competency Name",
                "value": "@outputs('Get_a_row_by_ID')?['body/_ecer_competency_value@OData.Community.Display.V1.FormattedValue']"
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3ee66fdc-d001-4b26-8578-8a70892cf731"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_investigationcompetencies",
                  "recordId": "@outputs('Get_a_row_by_ID')?['body/ecer_investigationcompetencyid']",
                  "item/ecer_name": "@variables('Investigation Competency Name')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@empty(outputs('Get_a_row_by_ID')?['body/_ecer_competency_value@OData.Community.Display.V1.FormattedValue'])",
              "@false"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc5f6b04-15ef-4a9b-a78a-d1dbb82a6251"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}