Solutions/Unmanaged/ECERAutomation/Workflows/ECER-ApplicationAssessmentonGoodCharacterAccepted-AFFF218F-0955-EF11-BFE3-000D3AF4EC16.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "92a93316-408c-4eb2-906c-808881317e4d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_applicationassessment",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_goodcharacteraccepted",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Good_Character_Accepted": {
          "actions": {},
          "runAfter": {},
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "509bca96-3a0c-4a3e-b87f-ba32f969a673"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ecer_goodcharacteraccepted']",
              621870000
            ]
          },
          "metadata": {
            "operationMetadataId": "dd6c994c-3090-453d-a34a-74c315a26f46"
          },
          "type": "If"
        },
        "IF_Character_Reference_Received_contains_data": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "212dabed-5f2a-444f-b145-7d156634fe7f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_characterreferences",
                  "recordId": "@triggerOutputs()?['body/_ecer_characterreferencereviewedid_value']",
                  "item/statecode": 1,
                  "item/statuscode": 2
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Good_Character_Accepted": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_ecer_characterreferencereviewedid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "70058122-1f6c-4993-afb8-aa343fde4b9f"
          },
          "type": "If"
        },
        "Update_a_row_2": {
          "runAfter": {
            "IF_Character_Reference_Received_contains_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5cc7cb85-fa40-4864-b1e5-fa7cfd7e14ba"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/_ecer_applicationid_value']",
              "item/ecer_characterreferenceapproved": 621870000
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}