Solutions/Unmanaged/ECERAutomation/Workflows/ECER-NewPortalInvitationonWERInviteAgain-288FCCA9-3F07-EF11-9F8A-000D3AF4A207.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Invite_Again_value_changed": {
          "metadata": {
            "operationMetadataId": "bea5d871-4114-4543-b250-7d5d4cd2414e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_workexperienceref",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_inviteagain",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Full_Work_Experience_Reference_Record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d3abb84f-21ba-4004-881e-565a2332ce87"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_workexperiencerefs",
              "recordId": "@triggerOutputs()?['body/ecer_workexperiencerefid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "IF_Invite_Again_is_YES": {
          "actions": {},
          "runAfter": {
            "Get_Full_Work_Experience_Reference_Record": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate_-_Ignore_if_value_is_NO": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "368c90f3-bddf-426b-86e0-3f37fe2bc6ff"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_Full_Work_Experience_Reference_Record')?['body/ecer_inviteagain']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed90a10d-e3fd-4f62-bd65-384d30c10a8c"
          },
          "type": "If"
        },
        "IF_Status_Reason_is_NOT_Draft_and_NOT_Application_Submitted": {
          "actions": {},
          "runAfter": {
            "IF_Invite_Again_is_YES": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "No_Invite_will_be_sent_as_Work_Experience_has_already_been_responded": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "5b66162c-4b76-4c03-ab8d-9d49b36a2fbf"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@outputs('Get_Full_Work_Experience_Reference_Record')?['body/statuscode']",
                  1
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Full_Work_Experience_Reference_Record')?['body/statuscode']",
                  621870006
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9770245e-1002-480d-8533-1a6083087ac1"
          },
          "type": "If"
        },
        "Get_all_previous_Portal_Invitation_for_this_Work_Experience_Reference": {
          "runAfter": {
            "IF_Status_Reason_is_NOT_Draft_and_NOT_Application_Submitted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1de3123e-4997-44d4-900c-c59c29fccfcd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_portalinvitations",
              "$filter": "_ecer_workexperiencereferenceid_value eq '@{outputs('Get_Full_Work_Experience_Reference_Record')?['body/ecer_workexperiencerefid']}' and statecode eq 0"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_results_for_this_Work_Experience_Reference": {
          "foreach": "@outputs('Get_all_previous_Portal_Invitation_for_this_Work_Experience_Reference')?['body/value']",
          "actions": {
            "Set_it_to_Cancelled": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "15cb4f00-f29e-4108-abba-7034f9ba3ac6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_portalinvitations",
                  "recordId": "@items('Loop_through_results_for_this_Work_Experience_Reference')?['ecer_portalinvitationid']",
                  "item/statecode": 1,
                  "item/statuscode": 621870003
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_all_previous_Portal_Invitation_for_this_Work_Experience_Reference": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af531bb5-67db-408b-ad53-7e304c97e741"
          },
          "type": "Foreach"
        },
        "Add_a_new_Portal_Invitation_Record": {
          "runAfter": {
            "Loop_through_results_for_this_Work_Experience_Reference": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7f7d8d19-f104-4abf-894f-af34747eb633"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_portalinvitations",
              "item/ecer_ApplicantId@odata.bind": "contacts(@{outputs('Get_Full_Work_Experience_Reference_Record')?['body/_ecer_applicantid_value']})",
              "item/ecer_ApplicationId@odata.bind": "ecer_applications(@{outputs('Get_Full_Work_Experience_Reference_Record')?['body/_ecer_applicationid_value']})",
              "item/ecer_emailaddress": "@triggerOutputs()?['body/ecer_emailaddress']",
              "item/ecer_firstname": "@triggerOutputs()?['body/ecer_firstname']",
              "item/ecer_lastname": "@triggerOutputs()?['body/ecer_lastname']",
              "item/ecer_WorkExperienceReferenceId@odata.bind": "ecer_workexperiencerefs(@{outputs('Get_Full_Work_Experience_Reference_Record')?['body/ecer_workexperiencerefid']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Reset_the_Invite_Again_flag": {
          "runAfter": {
            "Add_a_new_Portal_Invitation_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b3c815e-10aa-4c08-8902-c203111d0688"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_workexperiencerefs",
              "recordId": "@outputs('Get_Full_Work_Experience_Reference_Record')?['body/ecer_workexperiencerefid']",
              "item/ecer_inviteagain": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}