Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateCharacterReferenceName-003318F6-21C1-EE11-9079-000D3AF4F18A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Character_Reference_record_is_created": {
          "metadata": {
            "operationMetadataId": "5f9b02ce-ba58-4d30-917b-23a99c52333a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ecer_characterreference",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Application_Name": {
          "runAfter": {
            "Get_Created_On_in_short_date_string_format": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3dc2e52b-ba40-4ef8-8369-de8d04b96441"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/_ecer_applicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Created_On_in_short_date_string_format": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5cac9391-a717-411b-97e9-b2bd6310f6c0"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(triggerOutputs()?['body/createdon'],'dd/MMM/yyyy')"
        },
        "IF_Application_has_Applicant_Lookup_but_Character_Reference_does_not": {
          "actions": {
            "Set_Applicant_Lookup": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "43e8afb2-8242-4baf-8274-0a058e9ac302"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_characterreferences",
                  "recordId": "@triggerOutputs()?['body/ecer_characterreferenceid']",
                  "item/ecer_Applicantid@odata.bind": "contacts(@{outputs('Get_Application_Name')?['body/_ecer_applicantid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Application_Name": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_Application_Name')?['body/_ecer_applicantid_value']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_ecer_applicantid_value']",
                  "@null"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "f259d7d8-1947-4116-aad1-d63333d09a36"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}