Solutions/Unmanaged/ECERAutomation/Workflows/ECER-LogPreviousNameonContactModified-30480606-E18F-EE11-8179-000D3AF4FD74.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "52dbda5d-95fa-4efb-a7ba-7bbe2d6b010c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "firstname, lastname, middlename, ecer_preferredname, ecer_isverified",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "For_the_last_one_without_End_Date": {
          "foreach": "@outputs('List_of_Previous_Names_of_contact_with_no_end_date')?['body/value']",
          "actions": {
            "Set_End_Date_for_the_previous_Previous_Name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2fb82e2d-31b3-4506-af8f-4138f4ec1a08"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_previousnames",
                  "recordId": "@items('For_the_last_one_without_End_Date')?['ecer_previousnameid']",
                  "item/ecer_enddate": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Add_a_new_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76fae9a0-2502-4834-82b6-e98bec99225e"
          },
          "type": "Foreach"
        },
        "Add_a_new_row": {
          "runAfter": {
            "IF_Matches_Last_Previous_Name_Record_-_No_actual_changes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12e054c1-6453-406d-a78a-bbdf1b994184"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_previousnames",
              "item/ecer_Contactid@odata.bind": "contacts(@{triggerOutputs()?['body/contactid']})",
              "item/ecer_source": 621870000,
              "item/ecer_firstname": "@triggerOutputs()?['body/firstname']",
              "item/ecer_lastname": "@triggerOutputs()?['body/lastname']",
              "item/ecer_middlename": "@triggerOutputs()?['body/middlename']",
              "item/ecer_preferredname": "@triggerOutputs()?['body/ecer_preferredname']",
              "item/ecer_startdate": "@utcNow()",
              "item/statuscode": 621870002
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_of_Previous_Names_of_contact_with_no_end_date": {
          "runAfter": {
            "IF_Verified": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47d8a14e-4168-402f-b2e1-77e365359e38"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_previousnames",
              "$filter": "_ecer_contactid_value eq '@{triggerOutputs()?['body/contactid']}' and ecer_enddate eq null and ecer_nametype eq 621870001 and ecer_source eq 621870000",
              "$orderby": "ecer_startdate desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_the_latest_Previous_Name_and_see_if_there_is_actual_change": {
          "foreach": "@outputs('List_of_Previous_Names_of_contact_with_no_end_date')?['body/value']",
          "actions": {
            "IF_all_the_names_are_the_same": {
              "actions": {
                "Set_variable_-_Matches_Last_Previous_Name_Record_-_to_TRUE": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6f18d151-40fc-4185-8c3f-12afbdf5a877"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Matches Last Previous Name Record",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Loop_through_the_latest_Previous_Name_and_see_if_there_is_actual_change')?['ecer_firstname']",
                      "@triggerOutputs()?['body/firstname']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Loop_through_the_latest_Previous_Name_and_see_if_there_is_actual_change')?['ecer_middlename']",
                      "@triggerOutputs()?['body/middlename']"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Loop_through_the_latest_Previous_Name_and_see_if_there_is_actual_change')?['ecer_lastname']",
                      "@triggerOutputs()?['body/lastname']"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "682c73ca-f16c-4edb-867a-41181e804c0b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_-_Matches_Last_Previous_Name_Record_-_Default_FALSE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a697da21-4fb0-4e3f-bf22-2f50298a8d9d"
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_Matches_Last_Previous_Name_Record_-_Default_FALSE": {
          "runAfter": {
            "List_of_Previous_Names_of_contact_with_no_end_date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "948ac179-ed67-4769-ae9a-d0b8f9d77c47"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Matches Last Previous Name Record",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "IF_Matches_Last_Previous_Name_Record_-_No_actual_changes": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4b7a08d1-88cb-46f9-82f9-5903b7f7f041"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Loop_through_the_latest_Previous_Name_and_see_if_there_is_actual_change": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('Matches Last Previous Name Record')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "c863ca54-2d7e-4fbd-a96d-ddf0b3471b53"
          },
          "type": "If"
        },
        "IF_Verified": {
          "actions": {},
          "runAfter": {},
          "else": {
            "actions": {
              "Only_Log_Previous_Name_IF_Verified": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f6cd0be5-6c2b-4df5-a19b-15f583b6a78e"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ecer_isverified']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "63db9554-8b70-48d9-a728-42423b2ceee5"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}