Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateCustomerForDocumentURLFromRelated-662F2408-263B-EF11-A316-6045BDF9786D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "a2b73071-eaf6-48dd-8c4d-740d727a7f2e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bcgov_documenturl",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_certificateid",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_Certificate_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1259c78b-1c04-488b-92b5-986b28232650"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_certificates",
                  "recordId": "@triggerOutputs()?['body/_ecer_certificateid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_2": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "684cd7e7-9e9c-4bce-8439-0c4611b577c6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bcgov_documenturls",
                      "recordId": "@triggerOutputs()?['body/bcgov_documenturlid']",
                      "item/bcgov_Customer_contact@odata.bind": "contacts(@{outputs('Get_Certificate_Record')?['body/_ecer_registrantid_value']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Certificate_Record": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_bcgov_customer_value']",
                    "@outputs('Get_Certificate_Record')?['body/_ecer_registrantid_value']"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "21f94419-2f80-44bd-be97-894eea742764"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_ecer_certificateid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "fdd5b864-6769-45e4-a527-ea98d408256e"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}