Solutions/Unmanaged/ECERAutomation/Workflows/ECER-PopulateDisplayNameByCertificateType-62B0ECA5-5271-EF11-A670-7C1E524070BA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "74c01621-a966-4454-bfdf-571fe20dcf97"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_certifiedlevel",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_certificatetypeid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Certificate_Type_does_not_contain_data": {
          "actions": {
            "IF_Display_Name_contains_data": {
              "actions": {
                "Clear_Display_Nam": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c7574dd1-5f5e-4f15-8908-488efebbc63e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ecer_certifiedlevels",
                      "recordId": "@triggerOutputs()?['body/ecer_certifiedlevelid']",
                      "item/ecer_displayname": "@null"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  "@empty(triggerOutputs()?['body/ecer_displayname'])",
                  "@false"
                ]
              },
              "metadata": {
                "operationMetadataId": "630e0e8a-0c5f-4fcd-9140-cd990529c346"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Get_Certificate_Type": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "11902bc6-8da9-49d0-8748-9dca109929a2"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "ecer_certificatetypes",
                    "recordId": "@triggerOutputs()?['body/_ecer_certificatetypeid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "IF_Display_Name_NULL_or_ne_Certificate_Type_Display_Name": {
                "actions": {
                  "Set_Display_Name": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "59f288d8-421b-4409-9755-ff4d3b36a295"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "ecer_certifiedlevels",
                        "recordId": "@triggerOutputs()?['body/ecer_certifiedlevelid']",
                        "item/ecer_displayname": "@outputs('Get_Certificate_Type')?['body/ecer_displayname']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Get_Certificate_Type": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@empty(triggerOutputs()?['body/ecer_displayname'])",
                        "@true"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@triggerOutputs()?['body/ecer_displayname']",
                          "@outputs('Get_Certificate_Type')?['body/ecer_displayname']"
                        ]
                      }
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "426ca790-da27-4b0f-b023-e8d2a7b29862"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(triggerOutputs()?['body/_ecer_certificatetypeid_value'])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "61f5a725-fb64-4d4a-a11a-2fd5a5aacc27"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}