Solutions/Unmanaged/ECER/Workflows/ECER-OnCharacterReferencestatuschangetoSubmitted-10F35D17-24E3-EE11-904C-002248D56374.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "On_Character_Reference_Status_Reason_changed": {
          "metadata": {
            "operationMetadataId": "b127fe3a-ed62-42b5-8b00-b8ed0fdcc9c4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_characterreference",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Status_Reason_is_changing_to_Submitted_-_621870001": {
          "actions": {
            "Get_Character_Reference_Full_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1144d548-a868-456c-9454-da5fbbc89a1b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_characterreferences",
                  "recordId": "@triggerOutputs()?['body/ecer_characterreferenceid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Application_Full_Record": {
              "runAfter": {
                "Get_Character_Reference_Full_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "065ada3b-5735-4d56-bb84-8ef0fd21bea3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Character_Reference_Full_Record')?['body/_ecer_applicationid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Applicant_Email_Address_for_Validation": {
              "runAfter": {
                "Get_Application_Full_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ae6a71b-75ae-43a5-9671-1ad85c4fa1d0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']",
                  "$select": "emailaddress1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_a_Communication_Record": {
              "runAfter": {
                "Get_Applicant_Email_Address_for_Validation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ac840915-d19e-4549-94c0-3dda18182743"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_communications",
                  "item/ecer_initiatedfrom": 621870000,
                  "item/ecer_message": "Character Reference from @{outputs('Get_Character_Reference_Full_Record')?['body/ecer_firstname']} @{outputs('Get_Character_Reference_Full_Record')?['body/ecer_lastname']} received on @{variables('Today Long Date')}",
                  "item/ecer_name": "Character Reference received for Application #@{outputs('Get_Application_Full_Record')?['body/ecer_applicationnumber']}",
                  "item/ecer_type": 621870000,
                  "item/ecer_Registrantid_contact@odata.bind": "contacts(@{outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']})",
                  "item/ecer_Applicationid@odata.bind": "ecer_applications(@{outputs('Get_Character_Reference_Full_Record')?['body/_ecer_applicationid_value']})",
                  "item/ecer_datenotified": "@utcNow()",
                  "item/ecer_notifyrecipient": true,
                  "item/statuscode": 621870001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Assessment_Team": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "082f5f6a-f22c-44f0-986e-4b32a468f798"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Assessment Team'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_through_Team_query_and_set_Assessment_Team": {
              "foreach": "@outputs('Get_Assessment_Team')?['body/value']",
              "actions": {
                "Set_Assessment_Team": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6bfb83dd-d477-4e6e-aff3-ffac5e853f75"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Assessment Team Value",
                    "value": "@items('Loop_through_Team_query_and_set_Assessment_Team')?['teamid']"
                  }
                },
                "Assign_Communication_record_to_Assessment_Team": {
                  "runAfter": {
                    "Set_Assessment_Team": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "22766063-750a-4c9a-bffe-942ce1b4ccd0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ecer_communications",
                      "recordId": "@outputs('Create_a_Communication_Record')?['body/ecer_communicationid']",
                      "item/ownerid@odata.bind": "teams(@{variables('Assessment Team Value')})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Assessment_Team": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ba9bf8cc-23fb-46f7-bde1-35169fbeada8"
              },
              "type": "Foreach"
            },
            "Get_Queue_By_Name_-_No-Reply": {
              "runAfter": {
                "Loop_through_Team_query_and_set_Assessment_Team": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7ce88df-2297-4ca0-bc94-3083cd92934f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "$filter": "name eq 'No-Reply'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_Queue_By_Name_-_No-Reply')?['body/value']",
              "actions": {
                "Create_a_generic_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "63ed7e72-8722-40d3-ae5a-ace798a18195"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 1,
                          "partyid@odata.bind": "queues(@{items('Apply_to_each')?['queueid']})"
                        },
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "contacts(@{outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']})"
                        }
                      ],
                      "item/description": "There is a message waiting for your at the ECER Portal",
                      "item/ownerid_email@odata.bind": "teams(@{variables('Assessment Team Value')})",
                      "item/regardingobjectid_ecer_application_email@odata.bind": "ecer_applications(@{outputs('Get_Character_Reference_Full_Record')?['body/_ecer_applicationid_value']})",
                      "item/subject": "Character Reference has been received"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition": {
                  "actions": {
                    "Send_the_Email": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "881f6c1a-7cb5-4785-b8ec-75b09201d075"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Create_a_generic_Email')?['body/activityid']",
                          "item/IssueSend": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Create_a_generic_Email": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_Applicant_Email_Address_for_Validation')?['body/emailaddress1']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "54bed631-7942-44e4-999e-4c8a2cfa13f3"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Queue_By_Name_-_No-Reply": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8883a6da-6d57-4298-b7d3-e159a04d0aac"
              },
              "type": "Foreach"
            },
            "Update_a_row": {
              "runAfter": {
                "Create_a_Communication_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92e1f22f-1a66-4263-b251-1811c4840650"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Application_Full_Record')?['body/ecer_applicationid']",
                  "item/ecer_characterreferencereceived": true,
                  "item/ecer_characterreferencereceiveddate": "@parseDateTime(variables('Today in Short Date'))"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Assessment_Team_Value": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statuscode']",
              621870001
            ]
          },
          "metadata": {
            "operationMetadataId": "4eca56ca-afdd-4114-9d2d-0e809975e7db"
          },
          "type": "If"
        },
        "Initialize_variable_-_Assessment_Team_Value": {
          "runAfter": {
            "Initialize_variable_Today_Long_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "37aab659-bcab-4f3c-93d6-95045df50432"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Assessment Team Value",
                "type": "string"
              }
            ]
          }
        },
        "Today_in_short_date_string": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "44701e71-873e-4518-beb6-10c3bcf0b809"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "formatString": "dd/MMM/yyyy",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Pacific Standard Time"
          }
        },
        "Today_in_Long_Date_String": {
          "runAfter": {
            "Today_in_short_date_string": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9f6e2a08-cabc-47ea-b089-6352084e25f7"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "formatString": "MMMM d, yyyy",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Pacific Standard Time"
          }
        },
        "Initialize_variable_Today_Short_Date": {
          "runAfter": {
            "Today_in_Long_Date_String": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07758f3f-49c2-43a6-bc5d-400db6d5e5b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Today in Short Date",
                "type": "string",
                "value": "@body('Today_in_short_date_string')"
              }
            ]
          }
        },
        "Initialize_variable_Today_Long_Date": {
          "runAfter": {
            "Initialize_variable_Today_Short_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d5ce840-e78f-4449-83c1-d934590d4541"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Today Long Date",
                "type": "string",
                "value": "@body('Today_in_Long_Date_String')"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}