Solutions/Unmanaged/ECER/Workflows/ECER-OnWorkExperienceReferencestatuschangetoSubmit-6033A3EB-3DE6-EE11-A204-000D3AF4A207.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "On_Work_Experience_Reference_Status_Reason_Changed": {
          "metadata": {
            "operationMetadataId": "486cb78b-6616-423d-bad0-34d98456d173"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_workexperienceref",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Today_in_short_date_string": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "00080629-c240-4188-807a-bc88ddd2736c"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "formatString": "dd/MMM/yyyy",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Pacific Standard Time"
          }
        },
        "Today_in_Long_Date_String": {
          "runAfter": {
            "Today_in_short_date_string": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d86d5951-30a4-4de2-bda7-996b3e42ba43"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "formatString": "MMMM d, yyyy",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Pacific Standard Time"
          }
        },
        "Initialize_variable_Today_Short_Date": {
          "runAfter": {
            "Initialize_variable_-_Number_of_Hours_Observed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8738379c-d316-4bcd-8af9-8770583a777b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Today in Short Date",
                "type": "string",
                "value": "@body('Today_in_short_date_string')"
              }
            ]
          }
        },
        "Initialize_variable_Today_Long_Date": {
          "runAfter": {
            "Initialize_variable_Today_Short_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5d3ce339-ce8b-45b4-9181-5b6585c9b571"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Today Long Date",
                "type": "string",
                "value": "@body('Today_in_Long_Date_String')"
              }
            ]
          }
        },
        "Initialize_variable_Assessment_Team_Value": {
          "runAfter": {
            "Initialize_variable_Today_Long_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9dc88f3f-d4fe-4c9c-9613-66526a883d11"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Assessment Team Value",
                "type": "string"
              }
            ]
          }
        },
        "IF_Status_Reason_is_changing_to_Submitted": {
          "actions": {
            "Get_Work_Experience_Reference_Full_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c136d5c3-8ae9-49d0-bdff-c6735dbb9686"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_workexperiencerefs",
                  "recordId": "@triggerOutputs()?['body/ecer_workexperiencerefid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Application_Full_Record": {
              "runAfter": {
                "Get_Work_Experience_Reference_Full_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b05f228c-a4fd-429b-9967-1b6c3e40ba7a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_applications",
                  "recordId": "@outputs('Get_Work_Experience_Reference_Full_Record')?['body/_ecer_applicationid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Applicant_Email_Address_for_Validation": {
              "runAfter": {
                "IF_NEW_or_Labor_Mobility_-_Setting_Required_Number_of_Hours": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f4cd261d-1ce8-4132-91a8-1d711401b655"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']",
                  "$select": "emailaddress1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Assessment_Team": {
              "runAfter": {
                "Get_Applicant_Email_Address_for_Validation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7f3acb8-4107-41ef-bb0b-cb3f140f729e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "name eq 'Assessment Team - General'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_through_Teams_resultset_and_set_Assessment_Team_variable": {
              "foreach": "@outputs('Get_Assessment_Team')?['body/value']",
              "actions": {
                "Set_Assessment_Team_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a29c0ff4-52d4-4c61-987f-124167cd1cd3"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Assessment Team Value",
                    "value": "@items('Loop_through_Teams_resultset_and_set_Assessment_Team_variable')?['teamid']"
                  }
                }
              },
              "runAfter": {
                "Get_Assessment_Team": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f9704cf2-1656-439d-b0c2-bafda0a45abd"
              },
              "type": "Foreach"
            },
            "Create_Communication_record": {
              "runAfter": {
                "Loop_through_Teams_resultset_and_set_Assessment_Team_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "24949b11-41d6-4d54-9428-cc3c2b224fad"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_communications",
                  "item/ecer_initiatedfrom": 621870000,
                  "item/ecer_message": "Work Experience Reference from @{outputs('Get_Work_Experience_Reference_Full_Record')?['body/ecer_firstname']} @{outputs('Get_Work_Experience_Reference_Full_Record')?['body/ecer_lastname']} received on @{variables('Today Long Date')}",
                  "item/ecer_name": "Work Experience Reference received for Application #@{outputs('Get_Application_Full_Record')?['body/ecer_applicationnumber']}",
                  "item/ecer_type": 621870000,
                  "item/ecer_Registrantid_contact@odata.bind": "contacts(@{outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']})",
                  "item/ecer_Applicationid@odata.bind": "ecer_applications(@{outputs('Get_Application_Full_Record')?['body/ecer_applicationid']})",
                  "item/ecer_datenotified": "@utcNow()",
                  "item/ecer_notifyrecipient": true,
                  "item/statuscode": 621870001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_No-Reply_Queue": {
              "runAfter": {
                "Create_Communication_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "039fc664-ba41-47ea-a53f-efd1ac1cbf58"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "$filter": "name eq 'No-Reply'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_through_Queue_resultset_and_set_No-Reply_Queue_variable": {
              "foreach": "@outputs('Get_No-Reply_Queue')?['body/value']",
              "actions": {
                "Set_No-Reply_Queue_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bd6bfc03-9fdf-48a1-af6b-85110e7cc6bd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "No-Reply Queue",
                    "value": "@items('Loop_through_Queue_resultset_and_set_No-Reply_Queue_variable')?['queueid']"
                  }
                }
              },
              "runAfter": {
                "Get_No-Reply_Queue": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "468d9b44-c5f8-474a-9ee0-4c83dee8bd46"
              },
              "type": "Foreach"
            },
            "Create_generic_Email_Message": {
              "runAfter": {
                "Loop_through_Queue_resultset_and_set_No-Reply_Queue_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b0e139e-e135-4e75-a5ce-0d4126ce2dc2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{variables('No-Reply Queue')})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']})"
                    }
                  ],
                  "item/description": "There is a message waiting for your at the ECER Portal",
                  "item/ownerid_email@odata.bind": "teams(@{variables('Assessment Team Value')})",
                  "item/regardingobjectid_ecer_application_email@odata.bind": "ecer_applications(@{outputs('Get_Application_Full_Record')?['body/ecer_applicationid']})",
                  "item/subject": "Work Experience Reference has been received"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "IF_Applicant_has_email": {
              "actions": {
                "Send_the_generic_email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "08570d4a-7385-4124-96df-d73ab7e8568a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Create_generic_Email_Message')?['body/activityid']",
                      "item/IssueSend": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Create_generic_Email_Message": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Applicant_Email_Address_for_Validation')?['body/emailaddress1']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "b9088a47-21ad-4732-b4c3-f99ec260b5f5"
              },
              "type": "If"
            },
            "IF_NEW_or_Labor_Mobility_-_Setting_Required_Number_of_Hours": {
              "actions": {
                "IF_ECE_1_Yr_of_Assistant": {
                  "actions": {},
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Set_Number_of_Hours_Required_as_500": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "0f868008-2d9a-4d2a-a0fa-ab0c36d4f9a2"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Number of Hours Required",
                          "value": 500
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@outputs('Get_Application_Full_Record')?['body/ecer_isece1yr']",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Get_Application_Full_Record')?['body/ecer_iseceassistant']",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e28f345e-a533-47eb-ba97-0dfa8595d83b"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Application_Full_Record": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_Latest_Active_Certificate": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "09c7b906-29d1-4a2e-b28c-33c83600b1cd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "ecer_certificates",
                        "$filter": "_ecer_registrantid_value eq '@{outputs('Get_Application_Full_Record')?['body/_ecer_applicantid_value']}' and statuscode eq 1",
                        "$orderby": "ecer_expirydate dsc",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Loop_through_Certificate_Result_Set_-_should_just_be_1_record": {
                    "foreach": "@outputs('Get_Latest_Active_Certificate')?['body/value']",
                    "actions": {
                      "IF_Certificate_Expiry_Date_is_within_5_Year_from_Now": {
                        "actions": {
                          "Set_Number_of_Hours_Required_to_400": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "4811145e-32bd-498e-b070-eb6cedb07f5f"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "Number of Hours Required",
                              "value": 400
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Set_Number_of_Hours_Required_to_500_for_Renewals": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "684cd37b-0695-491e-a81b-c640f4bc9b6b"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Number of Hours Required",
                                "value": 500
                              }
                            }
                          }
                        },
                        "expression": {
                          "greater": [
                            "",
                            "@addToTime(utcNow(),-5,'Year')"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "23d660fc-26e4-4e3c-af6d-e5586e91d279"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {
                      "Get_Latest_Active_Certificate": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6cf2c51a-2100-40da-8692-edd62dadbdcf"
                    },
                    "type": "Foreach"
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@outputs('Get_Application_Full_Record')?['body/ecer_type']",
                      621870000
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/ecer_type']",
                      621870003
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "1274b458-e7db-461e-834f-dfe8b243c7e7"
              },
              "type": "If"
            },
            "List_all_work_experience_with_observed_hours_not_draft_not_rejected": {
              "runAfter": {
                "IF_Applicant_has_email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "52e7a902-2c15-437c-bef9-cce4344160bb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_workexperiencerefs",
                  "$filter": "_ecer_applicationid_value eq '@{outputs('Get_Application_Full_Record')?['body/ecer_applicationid']}' and ecer_totalnumberofhoursobserved gt 0 and statuscode ne 621870005 and statuscode ne 1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_through_applicable_Work_Experience_Records": {
              "foreach": "@outputs('List_all_work_experience_with_observed_hours_not_draft_not_rejected')?['body/value']",
              "actions": {
                "Set_Number_of_Hours_Observed_in_this_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "98fa9cb6-f853-4198-a78e-37c8bcc4a142"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Number of Hours Observed",
                    "value": "@items('Loop_through_applicable_Work_Experience_Records')?['ecer_totalnumberofhoursobserved']"
                  }
                },
                "Calculate_Subtotals": {
                  "runAfter": {
                    "Set_Number_of_Hours_Observed_in_this_record": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4d7682b-ba97-4059-9f6b-bb3880650df6"
                  },
                  "type": "Compose",
                  "inputs": "@add(variables('subtotal'),variables('Number of Hours Required'))"
                },
                "Set_subtotals": {
                  "runAfter": {
                    "Calculate_Subtotals": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c8093963-bc17-4bca-a38c-12209bdb9bbd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "subtotal",
                    "value": "@outputs('Calculate_Subtotals')"
                  }
                }
              },
              "runAfter": {
                "List_all_work_experience_with_observed_hours_not_draft_not_rejected": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6df7625f-da36-490a-9cf3-229e7bfdd282"
              },
              "type": "Foreach"
            },
            "IF_subtotal_hours_observed_is_greater_than_or_eq_to_Number_of_Required_Hours": {
              "actions": {
                "Update_Application": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9e4b69ec-b3a1-4a60-b3b3-7c30f62cfe4f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ecer_applications",
                      "recordId": "@outputs('Get_Application_Full_Record')?['body/ecer_applicationid']",
                      "item/ecer_workexperiencereceived": true,
                      "item/ecer_workexperiencereceiveddate": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Loop_through_applicable_Work_Experience_Records": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@variables('subtotal')",
                      "@variables('Number of Hours Required')"
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Application_Full_Record')?['body/ecer_workexperiencereceived']",
                        "@true"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "89c950b9-e9d8-42b3-8081-ef5fbdee3f5c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_No-Reply_Queue": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/statuscode']",
              621870001
            ]
          },
          "metadata": {
            "operationMetadataId": "48ef2631-735b-4750-afa1-6b99a282932c"
          },
          "type": "If"
        },
        "Initialize_variable_No-Reply_Queue": {
          "runAfter": {
            "Initialize_variable_Assessment_Team_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1d8a7db-48d0-4a1c-8033-9f5830b53f55"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "No-Reply Queue",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Number_of_Hours_Required": {
          "runAfter": {
            "Today_in_Long_Date_String": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f740efef-29a2-474b-9a92-40f111158e3d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Hours Required",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Number_of_Hours_Observed": {
          "runAfter": {
            "Initialize_variable_-_Subtotal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a495ff0-4797-4743-be0c-0097516ab3c9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Hours Observed",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_-_Subtotal": {
          "runAfter": {
            "Initialize_variable_-_Number_of_Hours_Required": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "358aae3c-4f91-4589-ba90-54ede9d17177"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "subtotal",
                "type": "float",
                "value": 0
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}