Solutions/Unmanaged/ECER/Workflows/ECER-PopulateTranscriptName-0DC29A4F-24C1-EE11-9079-000D3AF4FD74.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Transcript_record_is_created": {
          "metadata": {
            "operationMetadataId": "beffaa02-5634-45bd-a940-5567a69bfe59"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ecer_transcript",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Start_Date_in_short_date_string": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c79ada51-7fd1-4afc-814f-05560f644348"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(triggerOutputs()?['body/ecer_startdate'],'dd/MMM/yyyy')"
        },
        "Get_End_Date_in_short_date_string": {
          "runAfter": {
            "Get_Start_Date_in_short_date_string": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "219a6e2a-fe07-4b00-aff9-63d6987eccaf"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(triggerOutputs()?['body/ecer_enddate'],'dd/MMM/yyyy')"
        },
        "Get_Application_Name": {
          "runAfter": {
            "Get_End_Date_in_short_date_string": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a158d3d-dad5-413d-bd05-eda29cd4ab2b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/_ecer_applicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Name_as_Application_Name_-_Start_Date_-_End_Date": {
          "runAfter": {
            "Get_Application_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "719f3ca3-bc1f-42a4-ab0c-a73e1656941b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_transcripts",
              "recordId": "@triggerOutputs()?['body/ecer_transcriptid']",
              "item/ecer_name": "@{outputs('Get_Application_Name')?['body/ecer_name']} - @{outputs('Get_Start_Date_in_short_date_string')} - @{outputs('Get_End_Date_in_short_date_string')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e71bacee-0517-4831-a558-c13d1ef2ebab"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_transcripts",
                  "recordId": "@triggerOutputs()?['body/ecer_transcriptid']",
                  "item/ecer_Applicantid@odata.bind": "contacts(@{outputs('Get_Application_Name')?['body/_ecer_applicantid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Set_Name_as_Application_Name_-_Start_Date_-_End_Date": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_Application_Name')?['body/_ecer_applicantid_value']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_ecer_applicantid_value']",
                  "@null"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "1448704d-0f46-4b86-9a34-802ed8fa8994"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}