Solutions/Unmanaged/ECER/Workflows/ECER-PopulateProvinceTEXTfieldforWorkExperienceRef-6D54A5FF-2FDB-EE11-904C-002248D56374.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "IF_Wk_Exp_Reference_is_created_or_ecer_referenceececertifiedprovinceid_modified": {
          "metadata": {
            "operationMetadataId": "5a4871de-56e4-45a9-8092-3ca8d8ea5469"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ecer_workexperienceref",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_referenceececertifiedprovinceid",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable_-_Other_Province_GUID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "030a41fc-9a3f-436c-bef6-21ad2531ad5a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Other Province GUID",
                "type": "string",
                "value": "5e291527-7ada-ee11-904c-002248d56374"
              }
            ]
          }
        },
        "IF_Other_Province": {
          "actions": {},
          "runAfter": {
            "Initialize_variable_-_Other_Province_GUID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "IF_Reference_Province_is_NULL": {
                "actions": {
                  "Clears_the_TEXT_Province_field": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "159597ba-7594-49a8-a11f-32e479084ff5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "ecer_workexperiencerefs",
                        "recordId": "@triggerOutputs()?['body/ecer_workexperiencerefid']",
                        "item/ecer_referenceececertifiedprovince": "@null"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Get_Province_Picked": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "47bdd864-7872-4cfd-b13d-290b55153919"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ecer_provinces",
                          "recordId": "@triggerOutputs()?['body/_ecer_referenceececertifiedprovinceid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Province_TEXT_from_Lookup_field": {
                      "runAfter": {
                        "Get_Province_Picked": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "52877889-cdfb-47da-a0c7-d6ffadc912d6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ecer_workexperiencerefs",
                          "recordId": "@triggerOutputs()?['body/ecer_workexperiencerefid']",
                          "item/ecer_referenceececertifiedprovince": "@outputs('Get_Province_Picked')?['body/ecer_name']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/_ecer_referenceececertifiedprovinceid_value']",
                    "@null"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b09d091d-b8bd-4d0f-8a35-ac3ae23ed535"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_ecer_referenceececertifiedprovinceid_value']",
              "@variables('Other Province GUID')"
            ]
          },
          "metadata": {
            "operationMetadataId": "90f5a7d5-a496-453b-9d08-1d32a1697653"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}