Solutions/Unmanaged/ECER/Workflows/ECER-GenerateCommunicationonRequestMoreCharacterRe-0B7DEA89-62D6-EE11-904D-000D3AF4F18A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "IF_ecer_requestcharacterreference_has_changed": {
          "metadata": {
            "operationMetadataId": "a68224e9-aa30-4d1e-b0c2-a1e285e7702b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_requestcharacterreference",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_ecer_requestcharacterreference_is_TRUE": {
          "actions": {
            "Create_a_communication_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cb15de33-3f48-4213-b182-e4b084676fae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_communications",
                  "item/ecer_initiatedfrom": 621870000,
                  "item/ecer_message": "Your submitted Character Reference is not qualified for your application for @{outputs('Get_the_whole_record')?['body/ecer_certificatetype']}.  Please submit another reference for application review.",
                  "item/ecer_name": "Additional Character Reference Required",
                  "item/ecer_type": 621870002,
                  "item/ecer_Registrantid_contact@odata.bind": "contacts(@{outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']})",
                  "item/ecer_Applicationid@odata.bind": "ecer_applications(@{outputs('Get_the_whole_record')?['body/ecer_applicationid']})",
                  "item/ecer_datenotified": "@utcNow()",
                  "item/ecer_notifyrecipient": true,
                  "item/ownerid@odata.bind": "teams(@{variables('Assessment Team Value')})",
                  "item/statuscode": 621870001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_List_By_Name_-_No-Reply": {
              "runAfter": {
                "Create_a_communication_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bafe0176-73e5-47e7-8a26-5a6a8c5b20f1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "$filter": "name eq 'No-Reply'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_List_By_Name_-_No-Reply')?['body/value']",
              "actions": {
                "Create_generic_notification_email_to_Applicant": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "35c6a8a2-9de1-4097-a3d5-e7cffc9d5e16"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 1,
                          "partyid@odata.bind": "queues(@{items('Apply_to_each')?['queueid']})"
                        },
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "contacts(@{outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']})"
                        }
                      ],
                      "item/description": "There is a message waiting for your at the ECER Portal",
                      "item/ownerid_email@odata.bind": "teams(@{variables('Assessment Team Value')})",
                      "item/regardingobjectid_ecer_application_email@odata.bind": "ecer_applications(@{outputs('Get_the_whole_record')?['body/ecer_applicationid']})",
                      "item/subject": "Additional Character Reference Required"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Perform_a_bound_action_-_send_email": {
                  "runAfter": {
                    "Create_generic_notification_email_to_Applicant": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "968c0f84-84ed-4c15-8af7-399fe519b7b7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Create_generic_notification_email_to_Applicant')?['body/activityid']",
                      "item/IssueSend": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_List_By_Name_-_No-Reply": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9bc4c885-1cdb-4e34-a2e0-9b10ce7cc33c"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_the_whole_record": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_the_whole_record')?['body/ecer_requestcharacterreference']",
                  "@true"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "6975bf87-d26c-4d8b-96f7-78809c65c798"
          },
          "type": "If"
        },
        "Get_the_whole_record": {
          "runAfter": {
            "Loop_through_Assessment_Team_results_and_set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfa3490d-db42-4144-bcfd-adc1cda9bc91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/ecer_applicationid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5fc166b2-4be8-46aa-afee-d50e971f9ad6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Assessment Team Value",
                "type": "string"
              }
            ]
          }
        },
        "Get_Assessment_Team": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7cd1d142-2364-4de9-b139-17edd24c1417"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "$filter": "name eq 'Assessment Team'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_through_Assessment_Team_results_and_set_variable": {
          "foreach": "@outputs('Get_Assessment_Team')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6e962867-62f0-4157-85dd-64e440a868d5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Assessment Team Value",
                "value": "@items('Loop_through_Assessment_Team_results_and_set_variable')?['teamid']"
              }
            }
          },
          "runAfter": {
            "Get_Assessment_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "139eab2e-bc06-463b-9598-92b021ec6b75"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}