Solutions/Unmanaged/ECER/Workflows/ECER-PhoneCallAssociationtoApplication-E6A4CFB7-ADCF-EE11-904D-000D3AF4FD74.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_adding_new_Phone_Call": {
          "metadata": {
            "operationMetadataId": "2de13661-11f6-48e7-a0e9-5c1135fc51e8"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "phonecall",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Regarding_Table_is_ecer_application": {
          "actions": {
            "Linking_Application_table": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e7db2d75-ac17-48a2-8b18-f6d1a264bc82"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "phonecalls",
                  "recordId": "@triggerOutputs()?['body/activityid']",
                  "item/ecer_Application_PhoneCall@odata.bind": "@triggerOutputs()?['body/_regardingobjectid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_value']",
              "ecer_application"
            ]
          },
          "metadata": {
            "operationMetadataId": "e40296b2-b816-45e8-ab03-374b40b5a326"
          },
          "type": "If"
        },
        "IF_Regarding_table_name_starts_with_ecer_characterreference": {
          "actions": {
            "Get_Application_ID_from_Regarding_Character_Reference_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aefd92fe-71a9-420e-9c27-a53a52e58256"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_characterreferences",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']",
                  "$select": "_ecer_applicationid_value"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Get_Application_ID_from_Regarding_Character_Reference_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "53bc96b1-091d-448a-a1f1-db6a1415fe76"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "phonecalls",
                  "recordId": "@outputs('Linking_Application_table')?['body/activityid']",
                  "item/ecer_Application_PhoneCall@odata.bind": "ecer_applications(@{outputs('Get_Application_ID_from_Regarding_Character_Reference_Record')?['body/_ecer_applicationid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Regarding_Table_is_ecer_application": [
              "Succeeded"
            ]
          },
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_value']",
              "ecer_characterreference"
            ]
          },
          "metadata": {
            "operationMetadataId": "9447d48b-8bc0-4233-869d-15ec2763de4b"
          },
          "type": "If"
        },
        "IF_Regarding_table_name_starts_with_ecer_workexperiencereference": {
          "actions": {
            "Get_Application_ID_from_Regarding_Work_Experience_Reference_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6880b69c-f173-46be-92c6-cea5d24b0c92"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_workexperiencerefs",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']",
                  "$select": "_ecer_applicationid_value"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_a_row_2": {
              "runAfter": {
                "Get_Application_ID_from_Regarding_Work_Experience_Reference_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "51ce9f0f-a6ea-4282-80f3-aea7922fe273"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "phonecalls",
                  "recordId": "@outputs('Linking_Application_table')?['body/activityid']",
                  "item/ecer_Application_PhoneCall@odata.bind": "ecer_applications(@{outputs('Get_Application_ID_from_Regarding_Work_Experience_Reference_Record')?['body/_ecer_applicationid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Regarding_table_name_starts_with_ecer_characterreference": [
              "Succeeded"
            ]
          },
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_value']",
              "ecer_workexperiencereference"
            ]
          },
          "metadata": {
            "operationMetadataId": "50d1f8c1-0c20-489d-9c73-1887e4938bee"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}