Solutions/Unmanaged/ECER/Workflows/ECER-EmailAssociationtoApplication-958529EA-5ECB-EE11-9079-000D3AF4FD74.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_adding_new_Email": {
          "metadata": {
            "operationMetadataId": "4fdabf1f-1c0e-463c-8c71-3f225d5b4f2c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "email",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_Regarding_table_name_starts_with__ecer_characterreference": {
          "actions": {
            "Get_Application_ID_from_Regarding_Character_Reference_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "55a63c26-1899-43ee-beea-a97632af995e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_characterreferences",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']",
                  "$select": "_ecer_applicationid_value"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Associate_Email_Message_to_the_Application_Record": {
              "runAfter": {
                "Get_Application_ID_from_Regarding_Character_Reference_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78da92a2-64d8-4b5a-ae83-418124455bdc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "recordId": "@triggerOutputs()?['body/activityid']",
                  "item/ecer_Applicationid_Email@odata.bind": "ecer_applications(@{outputs('Get_Application_ID_from_Regarding_Character_Reference_Record')?['body/_ecer_applicationid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Regarding_Table_is_ecer_application": [
              "Succeeded"
            ]
          },
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_type']",
              "ecer_characterreference"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e55a20c-c042-4b17-bcdb-a300990d94b8"
          },
          "type": "If"
        },
        "IF_Regarding_Table_is_ecer_application": {
          "actions": {
            "It_is_Application_table,_just_link_it": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b16674e-05bb-47d2-ab8d-7b5f841ae89d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "recordId": "@triggerOutputs()?['body/activityid']",
                  "item/ecer_Applicationid_Email@odata.bind": "ecer_applications(@{triggerOutputs()?['body/_regardingobjectid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_type']",
              "ecer_application"
            ]
          },
          "metadata": {
            "operationMetadataId": "0978ce74-5dbc-4b16-b6db-e0a14ac0ea2b"
          },
          "type": "If"
        },
        "IF_Regarding_table_name_starts_with__ecer_workexperiencereference": {
          "actions": {
            "Get_Application_ID_from_Regarding_Work_Experience_Reference_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "55a63c26-1899-43ee-beea-a97632af995e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_workexperiencerefs",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']",
                  "$select": "_ecer_applicationid_value"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Associate_Email_Message_to_the_Application_Record_2": {
              "runAfter": {
                "Get_Application_ID_from_Regarding_Work_Experience_Reference_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78da92a2-64d8-4b5a-ae83-418124455bdc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "recordId": "@triggerOutputs()?['body/activityid']",
                  "item/ecer_Applicationid_Email@odata.bind": "ecer_applications(@{outputs('Get_Application_ID_from_Regarding_Work_Experience_Reference_Record')?['body/_ecer_applicationid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_Regarding_table_name_starts_with__ecer_characterreference": [
              "Succeeded"
            ]
          },
          "expression": {
            "startsWith": [
              "@triggerOutputs()?['body/_regardingobjectid_type']",
              "ecer_workexperiencereference"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e55a20c-c042-4b17-bcdb-a300990d94b8"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}