Solutions/Unmanaged/ECER/Workflows/ECER-GenerateCommunicationonTranscriptReceived-AB532154-95B5-EE11-A569-000D3AF4F18A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ecer_sharedcommondataserviceforapps_8f58e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "IF_ecer_transcriptreceiveddate_changed": {
          "metadata": {
            "operationMetadataId": "a68224e9-aa30-4d1e-b0c2-a1e285e7702b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ecer_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ecer_transcriptreceiveddate"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "IF_ecer_characterreferencereceiveddate_contains_data": {
          "actions": {
            "Create_a_communication_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cb15de33-3f48-4213-b182-e4b084676fae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ecer_communications",
                  "item/ecer_initiatedfrom": 621870000,
                  "item/ecer_message": "Transcript is receieved for your application as of @{outputs('Get_the_whole_record')?['body/ecer_transcriptreceiveddate']}",
                  "item/ecer_name": "Transcript Received",
                  "item/ecer_type": 621870000,
                  "item/ecer_Registrantid_contact@odata.bind": "contacts(@{outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']})",
                  "item/ecer_Applicationid@odata.bind": "ecer_applications(@{outputs('Get_the_whole_record')?['body/ecer_applicationid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_the_whole_record": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_the_whole_record')?['body/ecer_transcriptreceiveddate']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@outputs('Get_the_whole_record')?['body/_ecer_applicantid_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "6975bf87-d26c-4d8b-96f7-78809c65c798"
          },
          "type": "If"
        },
        "Get_the_whole_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bfa3490d-db42-4144-bcfd-adc1cda9bc91"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ecer_applications",
              "recordId": "@triggerOutputs()?['body/ecer_applicationid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}